body {
    background-color: black;
    text-align: center;
}

.cardListUl {
    width: fit-content;
}

.cardListLi {
    font-weight: bold;
    background-color: rgb(230, 132, 148);
}

.cardListLi:hover {
    cursor: pointer;
}

.cardList {
    display: inline-block;
    margin: 20px;
}

.showCard {
    color: white;
    width: 223px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.showCard .showCardRow .title-cell {
    font-weight: bold;
    color: gold;
}

.cardText {
    margin-top: 10px;
}

.showCardLeftColumn {
    text-align: left;
}

.showCardRightColumn {
    text-align: right;
}

.hoverImage {
    margin-bottom: 20px;
}

.colorButtons {
    background-color: #696969;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    margin: 10px;
    color: white;
    font-weight: bold;
}

.btn:hover {
    filter: brightness(70%);
}

.buttonWhite {
    background-color: white;
    color: black;
}

.buttonBlue {
    background-color: blue;
}

.buttonBlack {
    background-color: black;
}

.buttonRed {
    background-color: red;
}

.buttonGreen {
    background-color: green;
}

.showLinkForIdButton {
    background-color: #c653c6;
}

@media screen and (max-width: 440px) {
    .btn {
        padding: 5px;
    }

    .showCardLeftColumn {
        text-align: center;
    }
    
    .showCardRightColumn {
        text-align: center;
    }

    .showCardRow {
        margin-bottom: 5px;
    }
}