body {
    background-color: #DCDCDC;
    text-align: center;
}

.cardList {
    display: inline-block;
    margin: 20px;
}

.cardListUl {
    width: fit-content;
}

.cardListLi {
    font-weight: bold;
    background-color: rgb(230, 201, 43);
}

.cardListLi:hover {
    cursor: pointer;
    background-color: rgb(255, 145, 0);
}

.savedDecksList {
    display: inline-block;
    margin: 20px;
}

.savedDecksListUl {
    width: fit-content;
}

.savedDecksListLi {
    font-weight: bold;
    background-color: rgb(184, 134, 204);
}

.savedDecksListLi:hover {
    cursor: pointer;
    background-color: rgb(255, 145, 0);
}

.draftDeck {
    display: inline-block;
    margin: 20px;
}

.showCard {
    color: rgb(253, 0, 0);
    width: 223px;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

.showCard .showCardRow .title-cell {
    font-weight: bold;
    color: rgb(4, 0, 255);
}

.cardText {
    margin-top: 10px;
}

.showCardLeftColumn {
    text-align: left;
}

.showCardRightColumn {
    text-align: right;
}

.hoverImage {
    margin-bottom: 20px;
}

.navBarElements {
    background-color: #C0C0C0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    margin: 10px;
    color: white;
    font-weight: bold;
}

.btn:hover {
    filter: brightness(70%);
}

.buttonWhite {
    background-color: white;
    color: black;
}

.buttonBlue {
    background-color: blue;
}

.buttonBlack {
    background-color: black;
}

.buttonRed {
    background-color: red;
}

.buttonGreen {
    background-color: green;
}

.buttonShowDraftedDeck {
    color: black;
}

.buttonShowSavedDecks {
    color: black;
}

.buttonDefaultPurpleText {
    background-color: purple;
    color: white;
}

.buttonDraftingInfo {
    color: white;
    background-color: purple;
}

.saveDeckButton {
    margin: 10px;
    color: black;
    background-color: rgb(255, 145, 0);
}

#draft-select {
    width: fit-content;
    display: inline-block;
    margin: 10px;
}

.showLinkForIdButton {
    background-color: #c653c6;
}

.draftCardList {
    margin-top: 5px;
    margin-bottom: 5px;
}

.draftDeck {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardImage {
    width: 180px;
}

.draftCardImage {
    padding: 2px;
}

.draftDeckCardImage {
    padding: 2px;
}

.draftCardImage:hover {
    cursor: pointer;
}

.savedDeckCardImage {
    padding: 2px;
}

.loading {
    font-size: 24px;
    color: rgb(253, 57, 57);
}

#draftedDeckTitle {
    color: rgb(253, 57, 57);
}

.draftingInfo {
    display: block;
}

.draftingInfoText {
    color: rgb(253, 57, 57);
    margin: 5px;
}

.savedDeckName {
    color: rgb(253, 57, 57);
    margin: 5px;
}

.upperBtnRow {
    display: inline-block;
}

.lowerBtnRow {
    display: inline-block;
}

.draftSelectList {
    display: inline-block;
}

@media screen and (max-width: 440px) {
    
    .btn {
        margin: 5px;
    }
    .upperBtnRow {
        width: 100%;
    }

    .lowerBtnRow {
        width: 100%;
    }

    .draftSelectList {
        width: 100%;
    }

    .showCardLeftColumn {
        text-align: center;
    }
    
    .showCardRightColumn {
        text-align: center;
    }

    .showCardRow {
        margin-bottom: 5px;
    }

    .cardImage {
        width: 140px;
    }
}